html{
    height: 100%;
}
body {
    background-image: url(../images/background.jpg);
    background-size: 100% 100%;
}

.heading{
    text-align: center;
    color: rgb(243, 207, 6);
    font-family: "Pacifico", cursive;
}
h2{
    font-family: "Pacifico", cursive;
}
.cocktailImage {
    border-radius: 50%;
    height: 200px;
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.container {
    text-align: center; 
    background-color: white;
    margin: auto;
    width: 50%;
}

.ingredientList{
    display: inline-block;
    text-align: center;
    margin-top: 0%;

}
li {
    font-size: large;
    font-family:'Courier New', Courier, monospace;
}