<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <title>MkiaJogoo</title>
</head>
<body>
    <h1 class="heading"><%= cocktail %></h1>
    <img src="<%= photo %>" alt="cocktailImage" class="cocktailImage">
    <div class="container">
            <h2>Ingredients</h2>
            <ul class="ingredientList">
                <li>cocktail ingredient</li>
            </ul>
    </div>
    
</body>
</html>